// only smallest to medium
@media only screen and (max-width:767px) and (mind-width:0px)
{

}

// medium and up
@media only screen and(min-width:768px)
{

}


// large and up
@media only screen and (min-width: 992px)
{

}


// xl and up
@media only screen and(min-width:1200px)
{

}





h1
{
  // color:orange;
}


h1, h2, h3, h4, h5, h6
{

}

body, html
{
  background-color: #707070;
  color: white;
}

.the_underline
{
  // font-size:1;
  // font-weight:100;
  // font-stretch:ultra-condensed;
  // color:#e1e6e2;
}
// background-color: black;
#nav_title
{
  text-decoration: underline;
}

nav.row
{
  position:fixed;
	top:0;
  z-index:100;
	// z-index:-1;
  // height: 300px;
  width:100%;
  // text-align:center;
  	// border-bottom:#707070 solid 1px;
		background-color: #707070;

}

// nav
// {
// 	list-style-type:none;
// 	position:relative;
// 	display:inline-block;
// 	z-index:100;
// }

#projects
{
  // margin-top:100px;
	z-index:-1;
	// z-index:100;
}
